<link rel="stylesheet" href="/css/style.css">
<h1>Excluir Registros</h1>
<form action="/apagar" method="post">
    <label for="id">Código: </label>
    <input type="text" name="id" placeholder="Pesquise o código do usuário"><br>
    <button type="submit">Excluir</button>
</form>