<link rel="stylesheet" href="/css/style.css">
<h1>Cadastrar Usuários</h1>
<br>
<form action="/cadastrar" method="post">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" placeholder="Nome:">
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email" placeholder="Email:">
    <br>
    <label for="celular">Celular: </label>
    <input type="text" name="celular" placeholder="Celular:">
    <br>
    <button type="submit">Cadastrar</button>
</form>