<link rel="stylesheet" href="/css/style.css">
<h1>Pesquise um usuário no sistema:</h1>
<br>
<form action="/pesquisar" method="post">
<label for="codigo">Código:</label><br>
<input type="text" name="codigo" placeholder="Insira o código do usuário">
<br><br>
<button type="submit">Pesquisar</button>
</form>
<br><br>
<table>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Celular</th>
    </tr>
{{#if valor}}
    <tr>
        <td>{{valor.id}}</td>
        <td>{{valor.nome}}</td>
        <td>{{valor.email}}</td>
        <td>{{valor.celular}}</td>
    </tr>
{{/if}}
</table>